.container{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:url(../images/loginBg.jpg) no-repeat;
    background-size:100% 100%;
    color:#fff
}
.loginForm{
    box-shadow:0 0 30px #0C396B;
    margin:10% auto;
    border-radius:10px;
    background:rgba(63,113,180,0.5);
    width:400px;
}
.loginForm h3{
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
    padding:20px 0
}
.loginForm p.des{
    text-align:center;
    font-size:0.8em;
    color:#ccc;
}
.loginForm form{
    width:360px;
    margin:0 auto;
}
.loginForm form>div{
    padding:10px 0;
    margin:10px 0;
}
.loginForm form>div.inputRow:hover label{
    color:rgb(243,108,34);
}
.loginForm form>div label{
    display:inline-block;
    width:60px;
    text-align:left;
}
.loginForm form>div input{
    border:1px solid #ccc;
    width:calc(100% - 65px);
    outline:none;
    border-radius:5px;
    background:transparent;
    height:40px;
    line-height:40px;
    color:#fff;
    text-indent:5px;
    cursor:pointer;
}
.loginForm form>div input:hover{
    border:1px solid rgb(243,108,34);
}
.loginForm form>div button{
    outline:none;
    border:none;
    border-radius:5px;
    color:#fff;
    width:100%;
    line-height:40px;
    cursor:pointer;
    background:rgb(243,108,34);
}
.loginForm form>div button:hover{
    opacity:0.8;
}
